.project-card {
  color: white;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* background image */
.bg-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.featured-project-bg,
.overlay,
.accordion {
  width: 100%;
}

.overlay {
  background: rgba(115, 107, 168, 0.23);
  height: 99%;
  position: absolute;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* overlay text layout */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.project-intro {
  width: 50%;
}

.project-intro p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.logo-text {
  display: flex;
  flex-direction: column;
  width: 8%;
}

.logo-text h1 {
  margin: 0;
}

.expand-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.expand-bar h4,
.project-intro h3 {
  margin: 0;
}

.expand-bar:hover {
  border-bottom: solid 1px white;
}

.github-mark:hover {
  transform: scale(1.2)
}

.arrow-icon {
  height: 1.5rem;
}

.arrow-icon.flipped {
  transform: rotate(180deg);
}







