.App {
  /* width: 90vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  border-bottom: solid 5px purple;
  /* text-decoration: underline; */
}

.hidden {
  display: none;
}





