.skills-container {
  width: 100%;  
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 3rem;
}

.skill-cards-container {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 2rem;
}

.skill-card {
  border-radius: 150px;
  padding: 1rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: solid 3px;


  flex: 1;
  backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(241, 236, 252, 0.372);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.skill-card h1 {
  font-size: 1rem;
  color: #9420BC;
}

.skill-bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}
