.home,
.intro-container,
.intro-left,
.contacts-box {
  display: flex;
}

.intro-container {
  justify-content: center;
  align-items: center;
  gap: 20%;
  margin-top: 4rem;
}

.intro-left {
  width: 30%;
  flex-direction: column;
}

.profile {
  width: 30%;
  height: 90%;
  border-radius: 20px;
  object-fit: cover;
}

.contacts-box {
  gap: 0.5rem;
}

