.home,
.intro-container,
.intro-left,
.contacts-box {
  display: flex;
}

.home {
  flex-direction: column;
}

.intro-container {
  justify-content: space-between;
  align-items: center;
}

.intro-left {
  width: 50%;
  flex-direction: column;
}

.profile {
  width: 30%;
  height: 90%;
  border-radius: 20px;
  object-fit: cover;
}


