.home,
.intro-container,
.intro-left,
.contacts-box {
  display: flex;
}

.home {
  width: 70%;
  /* height: 100vh; */
}

.intro-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
  margin-top: 4rem;
  width: 100%;
}

.intro-left {
  flex-direction: column;
}

.intro-right {
  height: 90%;
}

.profile {
  height: 30%;
  /* border-radius: 50%; */
  border-radius: 49% 51% 47% 53% / 57% 37% 63% 43% ;
  object-fit: cover;
}

.contacts-box {
  gap: 0.5rem;
}

