.more-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-projects .expand-bar {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  margin-bottom: 1rem;
  color: #221663;
}

.more-projects .expand-bar:hover {
  border-bottom: none;
}

.toRight {
  transform: rotate(90deg);
}

.more-projects .accordion {
  padding: 3rem;
  height: 40rem;
  background: #b7b2dc70;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
  overflow: auto;
}

.more-projects .accordion.hidden {
  display: none;
}








