.accordion.project-detail {
  display: flex;
  background: rgba(211, 200, 219, 0.422);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
  color: rgb(72, 69, 79);
}

.accordion.hidden {
  display: none;
}

.project-type,
.tech-info,
.content-container,
.tech-container,
.buttons-to-app,
.image-container,
.image-slider {
  display: flex;
}

.tech-info,
.content-container,
.image-container {
  flex-direction: column;
}


/* left */
.content-container {
  width: 40%;
}

.content-container > p {
  font-family: "Helvetica Neue", sans-serif;
}

.content-container .icon {
  width: 1rem;
}

.project-type {
  align-items: center;
  background: rgba(196, 182, 206, 0.422);
  padding: 0.5rem;
  border-radius: 10px;
  width: fit-content;
  gap: 0.5rem;
}

.tech-info > p {
  margin-bottom: 0;
  font-weight: bold;
}

.tech-container {
  gap: 0.5rem;
}

.tech-container p {
  color: #221663;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 10px;
  background: rgba(196, 182, 206, 0.422);
}

.buttons-to-app {
  gap: 1rem;
}

.buttons-to-app button {
  background: rgb(141, 174, 158);
  border-radius: 50px;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
  color: rgb(33, 55, 44);
  margin-top: 2rem;
}

.buttons-to-app button:hover {
  background: rgb(72, 84, 79);
  color: rgb(141, 174, 158);
}

/* right */
.image-container {
  gap: 1rem;
  width: 40%;
}

.image-slider {
  gap: 1rem;
  overflow-x: scroll;
}