.mini-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: solid 2px black;
}

.mini-card img {
  width: 70%;
}

.link-bar {
  display: flex;
  justify-content: center;
  gap: 2rem;
}